.footer {
    font-family: $font-secondary;
    font-weight: 400;
    

    &__top {
        background-color: $color-grey-4;
    }

    &__container {
        padding: 1.5rem 1.5rem 3.6rem 1.5rem;

        @include respond(tab-port) {
            justify-content: space-around;
        }

        @include respond(phone) {
            justify-content: center;
        }
    }

    &__content {
        flex: 0 0 30%;

        padding: 1.5rem 1.5rem 3.6rem 1.5rem;

        @include respond(tab-port) {
            flex: 0 0 45%;
        }

        @include respond(phone) {
            flex: 0 0 80%;
        }
    }

    &__text {
        color: $color-grey-5;
    }

    &__btn {
        margin: 2.5rem 0;
    }

    &__contact {
        color: $color-white;
        font-size: 1.6rem;

        &:not(:last-child) {
            margin-bottom: 2.7rem;
        }
    }

    &__map {
        margin-top: 1.3rem;

        & iframe {
            max-width: 63.2rem;
            max-height: 25.2rem;
            position: relative;
            z-index: 100;

            @include respond(tab-port) {
                max-width: 40.2rem;
                max-height: 17.2rem;
            }

            @include respond(phone) {
                display: none;
            }
        }
    }

    &__bottom {
        background-color: $color-dark-2;
        padding: 1.5rem 0;
        text-align: center;
        color: $color-white;
    }
}