//HEADER
.header {
    line-height: 1.6;

    //TOP SECTION

    &__top-container {

    }

    &__top {
        background-color: $color-dark-2;
    }  

    &__contacts {
        color: $color-grey-1;
        display: flex;

        @include respond(phone) {
            flex: 0 0 100%;
            justify-content: space-between;
            margin: 1rem 0;
        }

        & div:first-child {
            margin-left: 1.5rem;
        }

        & div:last-child {
            margin-left: 2.8rem;

            @include respond(phone) {
                margin-left: 0;
                margin-right: 1.5rem;
            }
        }
    }

    &__top-btn {
        margin-right: 1.5rem;

        @include respond(phone) {
            display: none;
        }
    }

    // MIDDLE SECTION

    &__middle-container {

        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__logo {
        margin: 2rem;

        @include respond(phone) {
            margin: 1rem;
        }

        & a:link,
        & a:visited,
        & a:hover,
        & a:focus {
            color: $color-grey-2;   
            font-size: 3rem;
            font-family: $font-secondary;
            font-weight: 100;
            text-transform: uppercase;
            text-decoration: none;

        }

        span {
            font-weight: 500;
            color: $color-gold;
        }
    }

    &__nav {
        @include respond(phone) {
            margin-bottom: 2rem;
        }
    }

    &__nav-list {
        font-family: $font-secondary;
        font-weight: 400;
        font-size: 1.6rem;
        display: flex;
        list-style: none;
    }

    &__nav-link {
        &:link,
        &:visited {
            color: $color-dark-2;
            text-decoration: none;
            padding: .5rem 1.8rem;
            border: $border-white;
            transition: all .2s;
        }
        &:hover,
        &:focus {
            border: $border-gold;
        }


    }

    // BOTTOM SECTION

    &__bottom-section {
        color: $color-grey-1;
        padding: 12.7rem 0 19rem 0;
        font-size: 1.8rem;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    &__bottom-section--1 {
        background-image: linear-gradient(to right, rgba(#000, .4), rgba(#000, .6)), url(../img/header-bg-1-small.jpg);

        @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), 
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
        only screen and (min-width: 125em) {
          background-image: linear-gradient(to right, rgba(#000, .4), rgba(#000, .6)), url(../img/header-bg-1.jpg);
        }
    }

    &__bottom-section--2 {
        background-image: linear-gradient(to right, rgba(#000, .4), rgba(#000, .6)), url(../img/header-bg-2-small.jpg);

        @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), 
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
        only screen and (min-width: 125em) {
          background-image: linear-gradient(to right, rgba(#000, .4), rgba(#000, .6)), url(../img/header-bg-2.jpg);
        }
    }

    &__content {
        width: 60%;
        margin: 0 auto;

        @include respond(phone) {
            width: 100%;
        }
    }

    &__bottom-btn {
        font-size: 1.4rem;
        margin-top: 4.9rem;
        & span:first-child {
            padding: 1rem 2rem;
        }

        & span:last-child {
            padding: 1rem .7rem;
        }  
    }
   
}

// HEADER SLIDER
.header-slider {
    position: relative;
    overflow: hidden;

    & .slick-list {
        overflow: hidden;
    }
    & .slick-track {
        display: flex;
    }
    & .slick-arrow {
        position: absolute;
        top: 50%;
        height: 4rem;
        width: 4rem;
        font-family: $font-secondary;
        font-weight: 500;
        border: $border-white;
        box-shadow: $shadow-small;
        transition: all .2s, background-color .1s;
        z-index: 10;
        color: transparent;
        cursor: pointer;

        @include respond(tab-port) {
            top: 55%;
        }

        &:hover {
            border: $border-white;
            background-color: $color-gold;
        }
    }
    & .slick-prev{
        left: 20%;
        background: url(../img/chevron-left_white.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;

        @include respond(tab-port) {
            left: 5%;
        }
    }

    & .slick-next{
        right: 20%;
        background: url(../img/chevron-right_white.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;

        @include respond(tab-port) {
            right: 5%;
        }
    }
}

